// dark mode
body[data-theme='dark'] {
  background: $primary-color-dark;
  color: $secondary-color-dark;

  // Navigation
  .nav {
    background: $primary-color-dark;

    .nav-box a {
      color: $secondary-color-dark;
    }

    .nav-box a:hover {
      color: #fff;
    }

    .logo {
      color: $highlight-color;

      &:hover {
        color: $secondary-color-dark;
      }
    }

    .nav-box.show-menu {
      background: $primary-color-dark;
    }
  }

  .nav .menu-btn:after,
  .nav .menu-btn:before {
    background: $secondary-color-dark;
  }

  .nav .menu-btn:before {
    box-shadow: $secondary-color-dark 0 14px 0 0;
  }

  nav .menu-btn.active-menu-btn {
    &::before {
      box-shadow: transparent 0 0 0 0;
    }
  }

  // Title
  .title {
    color: $secondary-color-dark;
  }

  // UP Button
  .up-btn {
    svg {
      transition: all .3s ease-in-out;
      fill: $highlight-color;
    }

    svg:hover {
      fill: $secondary-color-dark;
    }
  }

  // About
  .about {
    .about-text p {
      background: $sections-color-dark;
      color: $secondary-color-dark;

      &:hover {
        background: darken($sections-color-dark, 5%);
      }
    }

    .cta {
      color: $secondary-color-dark;

      &:hover {
        color: $highlight-color;

        svg {
          stroke: $highlight-color;
        }
      }

      svg {
        stroke: $secondary-color-dark;
      }
    }
  }

  // Skills
  .accordion-list-item {
    background: $sections-color-dark;
    color: $secondary-color-dark;
    border-top: 1px solid #eee;

    &:hover {
      background: darken($sections-color-dark, 5%);
    }
  }

  // Projects
  .project-box .project {
    background: $sections-color-dark;

    &:hover {
      background: darken($sections-color-dark, 5%);
      border: 1px solid $highlight-color;
    }

    &-title {
      color: $secondary-color-dark;
    }

    &-desc {
      color: $secondary-color-dark;
    }

    .project-tags {
      color: $highlight-color;
    }

    .project-links {
      background: $highlight-color;
    }

    .code,
    .demo {
      color: $secondary-color-dark;

      &:hover {
        border: 1px solid lighten($highlight-color, 5%);
        background: lighten($highlight-color, 5%);
      }
    }
  }

  // Contact
  .contact {
    .contact-box {
      color: $primary-color-dark;
    }

    .contact-box .overlay {
      background: $sections-color-dark;
    }

    .joke-container .get-jokes {
      background: $sections-color-dark;

      &:hover {
        background: darken($sections-color-dark, 5%);
      }
    }
  }

  // Footer
  .footer {
    color: $secondary-color-dark;

    &-nav a {
      color: $secondary-color-dark;

      &:hover {
        color: $highlight-color;
      }
    }

    .social-container a {
      background: $secondary-color-dark;
    }
  }

}

// Toggle dark mode
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: $primary-color;
  // margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  background: $secondary-color;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

input:checked+label {
  background: $highlight-color;
}

input:checked+label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}