@import 'fonts.scss';
@import 'vars.scss';
@import 'reset.scss';
@import 'dark-theme.scss';

// Main Styles
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	width: 100%;
	// width: 1200px;
	border-bottom: 1px solid hsl(0, 0%, 90%);
	overflow: hidden;
	position: relative;
	padding-bottom: 7rem;
}

body {
	font-family: $primary-font;
	background: $secondary-color;
}

.container {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.social-container {
	margin: 20px 0;

	img {
		width: 30px;
		height: 30px;
	}

	a {
		border: 1px solid $primary-color;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		height: 40px;
		width: 40px;
		transition: all 200ms ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h1 {
	font-size: 2rem;
}

.border {
	border-bottom: none !important;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.active {
	border-top: 1px solid $highlight-color;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
}

.scroll {
	box-shadow: 0.5rem 0.1rem 0.5rem 0 rgba(20, 20, 20, 0.4);
	// opacity: 0.9;
}

.title {
	font-size: 1.5rem;
	font-family: $primary-font;
	align-self: flex-end;
	margin: 0 2rem 2rem 0;
	position: relative;
	color: $primary-color;

	&::before {
		content: '';
		width: 100px;
		position: absolute;
		top: 13px;
		left: -120px;
		height: 4px;
		background: $highlight-color;
	}
}

//BG text
.about,
.skills,
.projects,
.contact {
	// position: relative;
	background-position: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.projects,
.contact {
	// position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.switch {
	display: flex;
}

// form validation classes
.input-err {
	border: 1px solid tomato !important;
}

// -----------------------
// Header
#header {
	overflow-y: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(to right, #141e30, #243b55);
	text-align: center;
	position: relative;

	.vector-top {
		position: absolute;
		top: 0;
		left: 0;
	}

	.vector-bottom {
		position: absolute;
		right: 0;
		bottom: -2px;
	}

	.header-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		z-index: 10;
	}

	// .container {align-self: flex-start;}
	.avatar {
		border-radius: 50%;
		width: 200px;
		margin: 3rem;
		box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.27);
	}

	h1 {
		font-size: 4rem;
		color: #fff;
	}

	p {
		font-size: 1.5rem;
		color: $secondary-color;
	}

	span {
		color: $highlight-color;
	}

	.text,
	.dud {
		color: #fff;
		font-weight: 100;
		font-family: $secondary-font;
	}

	.btn {
		font-family: $secondary-font;
		background: $primary-color;
		color: #fff;
		letter-spacing: 1px;
		font-size: 1rem;
		width: 160px;
		padding: 0.5rem 1rem;
		margin: 1rem;
		cursor: pointer;
		outline: none;
		border: 1px solid $primary-color;
		border-radius: 3px;

		transition: all 0.2s ease-in-out;
		animation: shadow-pulse 2s infinite;

		&-box {
			margin-top: 2rem;
		}

		&:hover {
			// color: $highlight-color;
			background: lighten($primary-color, 10%);
			// box-shadow: 3px 4px 0px $highlight-color;
		}
	}

	.triangles img {
		position: absolute;
		z-index: 9;

		&:nth-child(1) {
			top: 0px;
			left: 250px;
		}

		&:nth-child(2) {
			top: 400px;
			left: 220px;
		}

		&:nth-child(3) {
			top: 265px;
			right: 80px;
		}

		&:nth-child(4) {
			bottom: 50px;
			right: 100px;
		}

		&:nth-child(5) {
			bottom: 200px;
			right: 20px;
		}

		&:nth-child(6) {
			bottom: 200px;
			right: 200px;
		}
	}
}

//Loader
.loader {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
	z-index: 99999;
}

// Navigation
.logo-box {
	flex-grow: 1;

	a {
		letter-spacing: 1px;
	}
}

.nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.3rem 2rem;
	width: 100%;
	background: $secondary-color;
	position: fixed;
	z-index: 999;
	top: 0;
	transition: all 0.5s ease-in-out;

	.logo {
		margin-left: 20px;
		font-size: 1.2rem;
		font-weight: bold;
		color: $primary-color;

		&:hover {
			color: lighten($primary-color, 10%);
		}
	}

	#back-btn {
		cursor: pointer;
	}

	&-box {
		display: flex;
		align-items: center;

		ul {
			display: flex;

			a {
				letter-spacing: 2px;
				position: relative;
				color: $primary-color;
				font-size: 0.9rem;
				padding: 0.5rem;
				margin: 0 0.25rem;
				text-transform: uppercase;
				border: 1px solid transparent;
			}
		}
	}

	img {
		width: 40px;
		margin: 0 1rem;
	}

	.nav-box .nav-items a:hover {
		box-shadow: 3px 4px 0px $highlight-color;
		border: 1px solid $highlight-color;

		transition: all 0.2s ease-in-out;
	}
}

// Up Button
.up-btn {
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: none;
	z-index: 9999;

	svg {
		transition: all .3s ease-in-out;
	}

	svg:hover {
		fill: $highlight-color;
	}
}

// About
.about {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 5rem 0;
	position: relative;
	font-family: $secondary-font;

	.bg-text-box {
		align-self: center;
	}

	&-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0rem 3rem 3rem;
		margin: 0 1rem;
		color: $secondary-color;
		position: relative;

		&-info {
			display: flex;
			flex-direction: column;
		}
	}

	.about-box-icon {
		align-self: flex-end;
		min-height: 400px;
		margin-bottom: 4rem;

		img {
			position: absolute;

			&:last-child {
				right: 0;
				animation: move-about 5s infinite ease-in-out;
			}

			&:first-child {
				right: 115px;
				top: 160px;
			}
		}
	}

	.about-text p {
		margin-top: 1px;
		max-width: 900px;
		font-size: 1.1rem;
		border-left: 7px solid;
		padding: 2.5rem 10px;
		background: $primary-color;
		border-radius: 3px;
		opacity: .9;
		transition: .3s all ease-in-out;

		&:nth-child(odd) {
			margin-right: 1rem;
			border-left-color: $highlight-color;
		}

		&:nth-child(even) {
			margin-left: 1rem;
			border-left-color: #243b55;
		}

		&:hover {
			opacity: 1;
			cursor: pointer;
		}
	}


	.cta {
		display: flex;
		align-items: center;
		align-self: flex-end;
		color: $primary-color;
		font-family: $primary-font;
		font-size: 1.1rem;
		position: relative;
		padding: 17px 22px;
		transition: all 0.2s ease;

		&:hover {
			color: $highlight-color;

			svg {
				transform: translateX(0);
				stroke: $highlight-color;

			}
		}

		svg {
			position: relative;
			top: 0;
			margin-left: 10px;
			fill: none;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke: $primary-color;
			stroke-width: 2;
			transform: translateX(-5px);
			transition: all 0.3s ease;
		}
	}
}

// Skills
.skills {
	display: flex;
	flex-direction: column;
	align-items: center;

	.skills-box {
		display: flex;
		flex-direction: column;
		align-self: center;
		max-width: 800px;
		margin: 0 1rem;
		font-family: $secondary-font;
	}

	.accordion {
		border-radius: 5px;
		padding: 30px;
	}
}

.accordion-list-item {
	background: rgba($primary-color, 0.9);
	color: $secondary-color;
	border-top: 1px solid #eee;
	cursor: pointer;
	position: relative;

	&:hover {
		background: rgba($primary-color, 0.95);
	}

	h2 {
		display: flex;
		align-items: center;
		font-size: 20px;
		margin: 0;
		padding: 20px;

		img {
			margin-right: 10px;
		}
	}

	.accordion-list-content {
		list-style: none;
		max-height: 0;
		overflow: hidden;
		transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;

		p {
			padding: 20px;
		}

		li::before {
			content: '';
			display: inline-block;
			height: 16px;
			width: 16px;
			background-size: 16px;
			background-repeat: no-repeat;
			margin-right: 10px;
			background-position: center center;
			vertical-align: middle;
		}
	}

	.chevron-img {
		position: absolute;
		right: 20px;
		top: 35px;
		// height: 100%;
		display: flex;
		align-items: center;
		transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
	}
}

.accordion-list-item.open .chevron-img {
	transform: rotate(180deg);
}

.accordion .accordion-list-item.open .accordion-list-content {
	max-height: 250px;
}

.skill-list {
	margin: 5px 0 10px 20px;
}

// Projects
.projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 5rem 0;
}

.project-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 3rem;
	font-family: $secondary-font;

	.project {
		position: relative;
		background: ivory;
		display: flex;
		flex-direction: column;
		// text-align: center;
		margin: 2rem;
		max-width: 250px;
		overflow: hidden;
		border: 1px solid #cccccc;
		box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
		transition: all 0.3s ease-out;

		&-icon {
			align-self: start;
			margin: 10px 10px 0 10px;
		}

		&:hover {
			border: 1px solid $lighten-primary-color;

			.project-links {
				transition: all 0.3s ease-out;
				bottom: 0;
			}
		}

		&-title {
			margin: 0 10px;
			font-size: 1.3rem;
			color: $lighten-primary-color;
			letter-spacing: 1px;
		}

		&-desc {
			text-align: left;
			font-size: 0.9rem;
			margin: 3px 10px;
			color: #666;
			// padding: 1rem;
			// height: 150px;
		}

		.project-tags {
			font-size: 0.7rem;
			font-weight: 777;
			text-align: center;
			margin: 10px 10px 30px 10px;
			color: $lighten-primary-color;
		}

		.project-links {
			position: absolute;
			bottom: -42px;
			display: flex;
			justify-content: space-evenly;
			width: 100%;
			// padding: 5px;
			// margin: 1rem;
			font-size: 1.1rem;
			background: linear-gradient(to right, #141e30, #243b55);
			transition: all 0.3s ease-out;
		}

		.code,
		.demo {
			width: 50%;
			text-align: center;
			padding: 2px 10px;
			border: 1px solid transparent;
			color: $secondary-color;
			background: transparent;
			position: relative;

			&:hover {
				// box-shadow: 3px 4px 0px $light-purple-color;
				border: 1px solid $lighten-primary-color;
				background: lighten($primary-color, 15%);
				transition: all 0.2s ease-in-out;
			}
		}
	}
}

// Contact Form
.contact {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	padding: 5rem 1rem;
	border-bottom: none !important;

	.title::before {
		background: $highlight-color;
	}

	.contact-box {
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		position: absolute;
		overflow: hidden;
		width: 760px;
		min-height: 480px;
		margin-top: 4rem;
		font-family: $secondary-font;
	}

	.overlay-container {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		overflow: hidden;
		transition: transform 0.6s ease-in-out;
		z-index: 100;

		.overlay {
			background: $primary-color;
			color: #fff;
			position: relative;
			left: -100%;
			height: 100%;
			width: 200%;
			transform: translateX(0);
			transition: transform 0.6s ease-in-out;

			&-panel {
				position: absolute;
				top: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0 40px;
				height: 100%;
				width: 50%;
				text-align: center;
				transform: translateX(0);
				transition: transform 0.6s ease-in-out;
			}

			&-right {
				right: 0;
				transform: translateX(0);

				.overlay-img {
					margin-bottom: 20px;
				}
			}

			&-left {
				transform: translateX(-20%);
			}
		}
	}

	button {
		border-radius: 3px;
		border: 1px solid $highlight-color;
		background: $highlight-color;
		color: $secondary-color;
		font-size: 12px;
		font-weight: bold;
		padding: 12px 45px;
		margin: 20px 0;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
		cursor: pointer;

		&:hover {
			background: lighten($highlight-color, 10%);
		}

		&:active {
			transform: scale(0.95);
		}

		&:focus {
			outline: none;
		}

		.ghost {
			background: transparent;
			border-color: #fff;
		}
	}

	.form-container {
		position: absolute;
		top: 0;
		height: 100%;
		transition: all 0.6s ease-in-out;

		form {
			background: #fff;
			display: flex;
			flex-direction: column;
			padding: 0 50px;
			height: 100%;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		input,
		textarea {
			background: #eee;
			border: 1px solid rgb(235, 235, 235);
			padding: 12px 15px;
			margin: 8px 0;
			width: 100%;
			outline-color: transparent;
		}
	}

	.get-in-touch-container {
		left: 0;
		width: 50%;
		z-index: 2;
	}

	.joke-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		left: 0;
		width: 50%;
		opacity: 0;
		z-index: 1;
		background: #fff;

		.jokes-container {
			margin-top: 2rem;
			height: 100%;
			width: 80%;

			.icon {
				width: 100px;
			}
		}

		.joke {
			font-size: 0.9rem;
			letter-spacing: 1px;
			height: 200px;
			overflow-y: hidden;
			padding-right: 7px;
			scrollbar-arrow-color: $highlight-color;
			/* Цвет стрелок */
			scrollbar-base-color: $primary-color;

			&:hover {
				overflow-y: scroll;
				padding-right: 0;
			}

			&::-webkit-scrollbar-track {
				border-radius: 7px;
				background-color: $highlight-color;
			}

			&::-webkit-scrollbar {
				border-radius: 7px;
				width: 7px;
				background-color: $highlight-color;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 7px;
				background-color: $primary-color;
			}

			&::-webkit-scrollbar-arrow {
				background-color: $highlight-color;
			}
		}

		.get-jokes {
			font-weight: 600;
			text-decoration: none;
			padding: 1rem 2rem;
			color: $secondary-color;
			background: $primary-color;
			border: 1px solid $primary-color;
			border-radius: 3px;
			transition: transform 80ms ease-in;

			&:hover {
				background: lighten($primary-color, 10%);
			}

			&:active {
				transform: scale(0.95);
			}
		}
	}
}

/* Animate form */
// to form
.contact-box.right-panel-active .get-in-touch-container {
	transform: translateX(100%);
}

// overlay to left
.contact-box.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

// to joke
.contact-box.right-panel-active .joke-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
}

// move overlay back to right
.contact-box.right-panel-active .overlay {
	transform: translateX(50%);
}

.contact-box.right-panel-active .overlay-left {
	transform: translateX(0);
}

.contact-box.right-panel-active .overlay-right {
	transform: translateX(20%);
}

// Footer
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $primary-color;
	// background: $primary-color;
	height: 200px;
	border-bottom: none;
	padding-bottom: 0;

	.footer-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 800px;
	}

	&-nav {
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			li a {
				color: $primary-color;
				font-size: 1.1rem;
				letter-spacing: 0.5px;
				margin: 0 10px;
			}

			li a:hover {
				color: lighten($primary-color, 10%);
			}
		}
	}

	.copyright {
		margin: 1rem 0;
	}

	.social-container {
		a {
			background: $secondary-color;
		}
	}
}

// ANIMATIONS
@keyframes shadow-pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.3);
	}

	100% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
}

@keyframes toggle-img {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(1.5rem);
	}

	100% {
		transform: translateX(3rem);
	}
}

@keyframes move-about {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(1rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

// MEDIA
@media (max-width: 840px) {

	.about,
	.skills,
	.projects,
	.contact {
		background-image: none;
	}

	#header .triangles>img {
		display: none;
	}

	#header {

		.vector-top,
		.vector-bottom {
			display: none;
		}
	}

	// Toggle MENU
	.show-menu {
		position: absolute;
		background: $secondary-color;
		padding: 1rem;
	}

	.nav-box.show-menu {
		display: flex !important;
		top: 45px;
		right: 0;

		.nav-items {
			flex-direction: column !important;
			align-items: flex-end;
		}

		.nav-item {
			padding: 1rem;
		}

		.switch,
		.cv {
			align-self: center;
		}
	}

	.nav-box .nav-items a::before,
	.nav-box .nav-items a::after {
		display: none;
	}

	// Navigation
	.nav {
		justify-content: center;
		padding: 0.5rem;

		.logo-box {
			flex-grow: 0;
		}

		.nav-box {
			display: none;
		}

		.cv img {
			margin: 0 0.5rem;
		}

		.menu-btn {
			background: transparent;
			margin: 0 0 0 3rem;
			position: absolute;
			right: 30px;
			height: 12px;
			width: 50px;
			cursor: pointer;

			&:before,
			&:after {
				background: #333;
				backface-visibility: hidden;
				content: '';
				height: 2px;
				left: 0;
				transition: 0.75s;
				width: 25px;
			}

			&::before {
				box-shadow: #333 0 14px 0 0;
				position: absolute;
				bottom: 12px;
			}

			&::after {
				position: absolute;
				bottom: 5px;
			}
		}

		.active-menu-btn {
			&::before {
				box-shadow: transparent 0 0 0 0;
				top: 50%;
				transform: rotate(225deg);
			}

			&::after {
				top: 50%;
				transform: rotate(315deg);
			}
		}
	}

	// Title
	.title {
		align-self: center;

		&::before {
			content: '';
			width: 100%;
			position: absolute;
			top: 25px;
			z-index: -1;
			left: 0;
			height: 3px;
			background: $light-red-color;
		}
	}

	// Contact
	.about-box-icon {
		display: none;
	}

	.overlay-container,
	.joke-container {
		display: none !important;
	}

	.contact .form-container {
		position: relative;
		align-self: center;
		width: 80%;
	}

	.contact .contact-box {
		display: flex;
		justify-content: center;
		position: relative;
		width: 80%;
		margin-top: 0;
	}

	.contact {
		background: none;
	}

	.social-container .social {
		margin: 5px;
	}

	.contact .form-container form {
		padding: 0;
	}
}

@media (max-width: 500px) {
	.header-box .text {
		display: none;
	}

	#header .btn {
		margin: 0.5rem;
	}

	#header h1 {
		font-size: 3rem;
	}

	.nav {
		padding: 0.5rem;
	}

	.nav .logo-box {
		flex-grow: 1;
	}

	.bg-text-box {
		display: none;
	}

	.about-box-info {
		padding: 0;
	}

	.about a span {
		line-height: 16px;
	}

	.about a::before {
		top: 8px;
	}

	.chart-container {
		display: none;
	}

	.contact {
		margin: 0 1rem;
		height: auto;
	}
}