// Vars

// font
$primary-font: 'Lato';
$secondary-font: monospace,
Helvetica,
Arial,
sans-serif;

// colors
$primary-color: #141e30;
$lighten-primary-color: #243b55;
$secondary-color: #fff;
$highlight-color: #FA7564;

// dark-mode colors
$primary-color-dark: #232323;
$sections-color-dark: rgba(57, 60, 64, 0.9);
$secondary-color-dark: #e6e9f0;
$lighten-primary-color: #243b55;
$highlight-color: #FA7564;




$light-purple-color: #AC80E4;
$light-red-color: #E48080;
$light-green-color: #C4E480;
$light-orange-color: #E4B680;