// Vars

// font
$primary-font: 'Lato';
$secondary-font: monospace,
Helvetica,
Arial,
sans-serif;

// colors
$primary-color: #141e30;
$lighten-primary-color: #243b55;
$secondary-color: #fff;
$highlight-color: #FA7564;

$light-purple-color: #AC80E4;
$light-red-color: #E48080;
$light-green-color: #C4E480;
$light-orange-color: #E4B680;