// Vars

// font
$primary-font: 'Lato';
$secondary-font: monospace, Helvetica, Arial, sans-serif;

// colors
$primary-color: #202020;
$secondary-color: #fcfcfc;
$highlight-color: #80C6E4;

$light-purple-color: #AC80E4;
$light-red-color: #E48080;
$light-green-color: #C4E480;
$light-orange-color: #E4B680;